Repository jrobic/lawn-mower, changes with the labels that .github/labeler.yml gives for each.
All labels: domain/catalog, database, critical, infra, docs

Add Codacy badge
  README.md
Labels: docs

chore(ci): enable codacy security scan
  .github/workflows/codacy.yml
Labels: none

feat: improve lint rules by using revive
  apps/catalog-service/Makefile
  apps/catalog-service/cmd/http/main.go
  apps/catalog-service/infra/http/catalog-controller.go
  apps/catalog-service/infra/http/catalog-controller_integration_test.go
  apps/catalog-service/infra/http/catalog-controller_test.go
  apps/catalog-service/testing.go
  apps/catalog-service/usecase/catalog-service_test.go
  revive.toml
Labels: domain/catalog

chore(ci): activate dependabot
  .github/dependabot.yml
Labels: none

chore(ci): activate gitguardian
  .github/workflows/gitguardian.yml
Labels: none

feat(catalog): update mower use cases issue #10
  .github/codecov.yml
  .github/workflows/ci.yml
  apps/catalog-service/cmd/http/main.go
  apps/catalog-service/domain/catalog-repository.go
  apps/catalog-service/domain/catalog.go
  apps/catalog-service/infra/http/catalog-controller.go
  apps/catalog-service/infra/http/catalog-controller_integration_test.go
  apps/catalog-service/infra/http/catalog-controller_test.go
  apps/catalog-service/infra/repository/in-memory-repo.go
  apps/catalog-service/testing.go
  apps/catalog-service/usecase/catalog-service.go
  apps/catalog-service/usecase/catalog-service_test.go
  apps/catalog-service/usecase/create-mower.go
  apps/catalog-service/usecase/find-all-mowers.go
  apps/catalog-service/usecase/get-available-mowers.go
  apps/catalog-service/usecase/get-mower.go
  apps/catalog-service/usecase/update-mower.go
  docs/catalog-service.md
Labels: domain/catalog, docs

chore: add license
  LICENSE
Labels: none

feat(catalog): use fiber
  apps/catalog-service/cmd/http/main.go
  apps/catalog-service/go.mod
  apps/catalog-service/go.sum
  apps/catalog-service/infra/http/catalog-controller.go
  apps/catalog-service/infra/http/catalog-controller_integration_test.go
  apps/catalog-service/infra/http/catalog-controller_test.go
  apps/catalog-service/testing.go
Labels: domain/catalog

.github/labeler.yml:

domain/catalog:
  - apps/catalog-service/*

database:
  - apps/**/*.sql

critical:
  - apps/**/*.sql

infra:
  - infra/**/*

docs:
  - docs/**/*
  - README.md
